@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tw-text-opacity: 1;
  color: #414141;
}

body {
  font-family: 'Noto Sans', sans-serif;
}

.the-container {
  @apply px-4 w-full md:px-6 xl:px-8 xl2:max-w-[1380px] xl2:px-0 mx-auto;
}

.shadow-navbar {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.underline-transition::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: #b00222;
  transition: width 0.5s ease;
}

.underline-transition:hover::after {
  width: 100%;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin: 0.8rem 0 1.5rem;
}
