@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Source+Serif+Pro:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tw-text-opacity: 1;
  color: #414141;
}

body {
  font-family: 'Noto Sans', sans-serif;
  overflow-x: hidden;
  @apply transition-all;
  scroll-behavior: smooth;
}

.font-serifs {
  font-family: 'Source Serif Pro', serif;
}

.the-container {
  @apply px-4 w-full md:px-6 xl:px-8 xl2:max-w-[1380px] xl2:px-0 mx-auto;
}

.shadow-navbar {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.underline-transition::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: #b00222;
  transition: width 0.5s ease;
}

.underline-transition:hover::after {
  width: 100%;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin: 0.8rem 0 1.5rem;
}

@media (min-width: 769px) {
  .width-list-sight {
    width: calc(50% - 0.75rem);
  }
}

.about-trip-class {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 3rem;
  padding-bottom: 3rem;
}

@media (min-width: 769px) {
  .about-trip-class {
    grid-gap: 1rem;
    grid-template-columns: 1fr 2fr;
  }
}

.height-fill {
  height: -webkit-fill-available;
}

.react-multi-carousel-item {
  display: flex;
  justify-content: center;
  /* @media (min-width: 769px) {
    margin-right: 1rem;
  }
  @media (min-width: 1024px) {
    margin-right: 2rem;
    :last-child {
      margin-right: 0;
    }
  } */
}

.react-multi-carousel-dot-list {
  padding-bottom: 0px !important;
  bottom: -47px !important;
}
@media (min-width: 769px) {
  .react-multi-carousel-dot-list {
    display: none !important;
  }
}

.gd-carousel-wrapper {
  position: relative;
}

.gd-carousel {
  position: unset;

  .react-multiple-carousel__arrow {
    position: absolute;
  }

  .react-multiple-carousel__arrow {
    display: none;
  }

  @media (min-width: 769px) {
    .react-multiple-carousel__arrow {
      display: block;
    }
  }

  .react-multiple-carousel__arrow--left {
    top: -60px;
    left: 100%;
    transform: translateX(-115px);
    background-color: #e6e6e6;
  }

  .react-multiple-carousel__arrow--right {
    top: -60px;
    right: 0;
    background-color: #e6e6e6;
  }

  .react-multiple-carousel__arrow::before {
    color: #000000;
  }

  .carousel-arrows__arrow {
    background-color: #e6e6e6 !important;
  }
}

.react-multi-carousel-list {
  position: unset !important;
}
